<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>



<header [hidden]="!fullMenu" class="navbar navbar-header navbar-header-fixed">
  <a [hidden]="historyMenu" href="#" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
  <a [routerLink]="" (click)="goBackPage()" [hidden]="!historyMenu" href="#" id="filemgrMenu" class="burger-menu d-lg-none"><i data-feather="arrow-left"></i></a>
  <div class="navbar-brand">
    <a routerLink="/" class="df-logo">Vote<span>chain</span></a>
  </div><!-- navbar-brand -->
  <div [hidden]="!profileMenu" id="profileMenu" class="navbar-menu-wrapper">
    <div class="navbar-menu-header">
      <a href="/assets/theme/index-2.html" class="df-logo">Vote<span>chain</span></a>
      <a id="mainMenuClose" href="#"><i data-feather="x"></i></a>
    </div>

    <!-- navbar-menu-header -->
    <ul class="nav navbar-menu">
      <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>

      <!-- <li class="nav-item"><a href="/assets/theme/components/index.html" class="nav-link"><i data-feather="box"></i> Components</a></li>
      <li class="nav-item"><a href="/assets/theme/collections/index.html" class="nav-link"><i data-feather="archive"></i> Collections</a></li> -->
    </ul>
  </div><!-- navbar-menu-wrapper -->
  <div [hidden]="!profileMenu" class="navbar-right">

    <!-- dropdown -->
    <div class="dropdown dropdown-profile">
      <a href="#" class="dropdown-link" data-toggle="dropdown" data-display="static">
        <div class="avatar avatar-sm"><img src="/assets/theme/assets/img/img1.png" class="rounded-circle" alt=""></div>
      </a><!-- dropdown-link -->
      <div class="dropdown-menu dropdown-menu-right tx-13">
        <div class="avatar avatar-lg mg-b-15"><img src="/assets/theme/assets/img/img1.png" class="rounded-circle" alt=""></div>
        <h6 class="tx-semibold mg-b-5"> {{username}}</h6>
        <!-- <p class="mg-b-25 tx-12 tx-color-03">Administrator</p>

        <a href="#" class="dropdown-item"><i data-feather="edit-3"></i> Edit Profile</a>
        <a href="#" class="dropdown-item"><i data-feather="user"></i> View Profile</a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item"><i data-feather="help-circle"></i> Help Center</a> -->

        <a routerLink="login" class="dropdown-item" (click)="logout()"><i data-feather="log-out"></i>Sign Out</a>
      </div><!-- dropdown-menu -->
    </div><!-- dropdown -->
  </div><!-- navbar-right -->
</header><!-- navbar -->

<!-- </div> -->
  <router-outlet></router-outlet>


