<!-- Begin page content -->
<!--
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label>Private Key</label>
          <input type="text" class="form-control" formControlName="privateKey" #privateKey />
        </div>
        <div
          *ngIf="angForm.controls['privateKey'].invalid && (angForm.controls['privateKey'].dirty || angForm.controls['privateKey'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['privateKey'].errors.required">
            Private Key is required.
          </div>
        </div>
        <div *ngIf="message !=null" class="alert alert-danger">
          {{message}}
        </div>

      </form>
    </div>
    <div class="card-footer">
      <div class="form-group text-center">
        <button type="submit" (click)="onFormSubmit()" [disabled]="angForm.pristine || angForm.invalid"
          class="btn btn-primary btn-block"> Log In</button>
      </div>
    </div>
  </div>
</div>
 -->




<div class="content content-fixed content-auth">
  <div class="container">
    <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
      <div class="media-body align-items-center d-none d-lg-flex">
        <div class="mx-wd-600">
          <img src="/assets/theme/assets/img/img15.png" class="img-fluid" alt="">
        </div>

      </div>
      <!-- media-body -->
      <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
        <div class="wd-100p">
          <h3 class="tx-color-01 mg-b-5">Sign In</h3>
          <p class="tx-color-03 tx-16 mg-b-40">Welcome back! Please signin to continue.</p>
          <form [formGroup]="angForm" novalidate>
            <div class="form-group">
              <label>Private Key</label>
              <input type="text" class="form-control" placeholder="Private Key" formControlName="privateKey"
                #privateKey />
            </div>
            <div
              *ngIf="angForm.controls['privateKey'].invalid && (angForm.controls['privateKey'].dirty || angForm.controls['privateKey'].touched)"
              class="alert alert-danger">
              <div *ngIf="angForm.controls['privateKey'].errors.required">
                Private Key is required.
              </div>
            </div>
            <div *ngIf="message !=null" class="alert alert-danger">
              {{message}}
            </div>
          </form>
          <button type="submit" class="btn btn-brand-02 btn-block" (click)="onFormSubmit()"
            [disabled]="angForm.pristine || angForm.invalid">Sign In</button>
          <div class="divider-text">or</div>
          <label class="btn btn-outline-facebook btn-block">
            <span>Sign In With QRCode Upload</span>
            <input type='file' (change)="onSelectFile($event)">
          </label>
          <!-- <button class="btn btn-outline-facebook btn-block" (click)="onQRCodeUpload()">Sign In With QRCode Upload</button> -->
          <button class="btn btn-outline-twitter btn-block">Sign In With QR Scan</button>
          <!-- <div class="tx-13 mg-t-20 tx-center">Don't have an account? <a href="page-signup.html">Create an Account</a></div> -->
        </div>
      </div><!-- sign-wrapper -->
    </div><!-- media -->
  </div><!-- container -->
</div><!-- content -->



QR   <div class="alert alert-success">
  {{qrcodestring}}
</div>
