
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th>Total Particapate</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of electionList">
      <td><a [routerLink]="['/elections/detail', value.id]" class="">Detail</a></td>
      <td>{{ value.id }}</td>
      <td>{{ value.name }}</td>
      <td>{{ value.status }}</td>
      <td>{{ value.candidates.length }}</td>
      <td>{{ value.address }}</td>
    </tr>
  </tbody>
</table>
