<p>election-detail works!</p>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Election Information
        <button class="btn btn-light btn-sm float-right my-1" (click)="goBack()"> &lt; Back</button>

      </div>
      <div class="card-body">
        <table
          class="table table-sm table-hover table-responsive-sm table-responsive-md table-responsive-lg table-bordered">
          <tbody>
            <tr>

              <td style="font-weight:bold">Election Name</td>
              <td id="electionName">{{election.name}}</td>

            </tr>
            <tr>

              <td style="font-weight:bold">Status</td>
              <td id="electionStatus"><span class="badge badge-info">{{election.status}}</span></td>

            </tr>
            <tr>
              <td style="font-weight:bold">Address</td>
              <td id="electionAddress">{{election.address}}</td>

            </tr>
            <tr>
              <td style="font-weight:bold">Total Candidates</td>
              <td id="electionTotalCandidates"><span
                  class="badge badge-pill badge-primary">{{election.candidates.length}}</span></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Candidate List
      </div>
      <div class="card-body">
        <table
          class="table table-hover table-sm table-responsive-sm table-responsive-md table-responsive-lg table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>

              <th>Address</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let value of candidateList">

              <td>
                <button class="btn btn-danger" (click)="userVote(election.address,value.candidateAddress)">Vote</button>

              </td>
              <td>{{ value.candidateName }}</td>
              <td>{{ value.candidateAddress }}</td>

            </tr>
          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>
